:root {
  --background: #010409;
  --primary-text: #eeeeee;
  --editor-background: #0D1117;
  --button-background: #262c36;
  --padding-inline: 1.9rem;
  --padding-block: 1rem;
  --editor-padding: 1rem;
}
